
 body {
  margin: 0; 
  background: #000 url("sea1.jpg") no-repeat fixed center ;
  background-size: cover;
}
h3 {
    
  font-family: 'Arial' ;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0px;
    height: 20px;
    padding:10px;
    
    color: #ffffff;

}
p
{
text-align: center;
font-family: 'Helvetica';
text-indent: 60px;
    color: #ffffff   
}